<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-test:war exploded">
    <output-path>$PROJECT_DIR$/spring-in-action/test/target/springstudy</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-test/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-test" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.apache.wicket:wicket:1.4.4" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.5.6" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-log4j12:1.4.2" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.14" />
          <element id="library" level="project" name="Maven: org.springframework:spring:2.5.4" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.1.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>