<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<display-name>simple-webtest</display-name>

	<!--
		  There are three means to configure Wickets configuration mode and they are
		  tested in the order given.
		  1) A system property: -Dwicket.configuration
		  2) servlet specific <init-param>
		  3) context specific <context-param>
		  The value might be either "development" (reloading when templates change)
		  or "deployment". If no configuration is found, "development" is the default.
	-->

	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>servlet.Dispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/forward.do</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecurityRestriction</web-resource-name>
			<description>Protect the Cactus redirector servlet.</description>
			<url-pattern>/ServletRedirectorSecure</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Authorized Users Group</description>
			<role-name>test</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Sample Cactus Servlet Application</realm-name>
	</login-config>

	<security-role>
		<description>Test role</description>
		<role-name>test</role-name>
	</security-role>

</web-app>
