<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/lang
	http://www.springframework.org/schema/lang/spring-lang-2.0.xsd">


	<bean id="coconut" class="com.springinaction.scripting.Coconut">
		<property name="lime" ref="lime"/>
	</bean>

	<lang:jruby id="lime"
	            script-source="classpath:com/springinaction/scripting/Lime.rb"
	            script-interfaces="com.springinaction.scripting.Lime"/>


	<lang:groovy id="lime"
	             script-source="classpath:com/springinaction/scripting/Lime.groovy"/>
</beans>
