<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<bean id="audience" class="com.springinaction.springidol.audience.Audience"/>

	<bean id="audienceAdvice" class="com.springinaction.springidol.audience.AudienceAdvice">
		<property name="audience" ref="audience"/>
	</bean>

	<bean id="audienceAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
		<property name="advice" ref="audienceAdvice"/>
		<property name="expression" value="execution(* *.perform(..))"/>
	</bean>

	<!--
        Create  " AnnotationAwareAspectJAutoProxyCreator "
        spring context and will automatically proxy beans
        whose methods the pointcuts with @Pointcut annotation in @Aspect annotion beans
	-->
	<aop:aspectj-autoproxy/>


	<bean id="duke" class="com.springinaction.springidol.performer.PoeticJuggler" autowire="constructor">
		<constructor-arg ref="sonnet29"/>
	</bean>
	<bean id="sonnet29" class="com.springinaction.springidol.performer.Sonnet29"/>

</beans>
